<template name="users">
    {{#if isInRole 'admin'}}
        {{> sendInvitationModal}}

        <h4 class="page-header">Users</h4>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Email Address</th>
                <th class="text-center">Role</th>
            </tr>
            </thead>
            <tbody>
            {{#each users}}
                <tr>
                    <td class="text-left text-middle">{{#if isCurrentUser _id}}<label class="label label-success">You!</label>{{/if}} {{emails.[0].address}}</td>
                    <td>
                        <select {{disableIfAdmin _id}} name="userRole" class="form-control">
                            <option selected="{{selected roles.[0] 'admin'}}" value="admin">Admin</option>
                            <option selected="{{selected roles.[0] 'member'}}" value="member">Member</option>
                        </select>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        [...]
    {{/if}}
</template>