<template name="login">
    {{> signInWithEmailModal}}
    <div class="row">
        <div class="text-center">
            <div class="page-header">
                <h3>Welcome Members</h3>
            </div>
            <img src="logo.png" alt="OF10">
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-md-offset-3 text-center">

        <ul class="btn-list">
            <li>
                <button data-social-login="loginWithFacebook" type="button" class="btn">
                    <i class="fa fa-facebook"></i> Sign in with Facebook
                </button>
            </li>
            <li>
                <button data-social-login="loginWithGoogle" type="button" class="btn">
                    <i class="fa fa-google"></i> Sign in with Google
                </button>
            </li>
            <li>
                <button data-social-login="loginWithTwitter" type="button" class="btn">
                    <i class="fa fa-twitter"></i> Sign in with Twitter
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-success btn-login-email" data-toggle="modal" data-target="#sign-in-with-email-modal">
                    <i class="fa fa-envelope"></i> Sign in with Email
                </button>
            </li>
        </ul>
    </div>
</div>
<form id="mailing-list" class="form-inline">
    <div class="form-group">
        <label hidden for="emailAddress">Email</label>
        <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="awesome.person@gmail.com">
    </div>
    <button type="submit" class="btn btn-success">Sign Me Up!</button>
    <label class="error-message"></label>
</form>
</template>